/**************************************************************************/
/***** CSS file created by James Languirand for CEG3120 Fall 2017 WSU *****/
/**************************************************************************/

@media screen and (max-width:400px){
	img{
		max-width: 40%;
		max-height: 40%;
	}
	html{ 
		font-size: 2.5vw; 
		padding-top: 10px;
	}
	iframe{
		width: 200px;
		height: 112px;
	}
	.nav-link{
		border-bottom: 2px solid green;
	}
}

@media screen and (min-width:401px) and (max-width:756px){
	img{
		min-width: 40%;
		min-height: 40%;
		max-width: 50%;
		max-height: 50%;
	}
	html{
		font-size: 2vw; 
		padding-top: 10px;
	}
	iframe{
		width: 320px;
		height: 180px;
	}
	.nav-link{
		border-bottom: 2px solid green;
	}
}

@media screen and (min-width:757px) and (max-width:1079px){
	img{
		min-width: 50%;
		min-height: 50%;
		max-width: 60%;
		max-height: 60%;
	}
	html{ 
		font-size: 1.2vw;
		padding-top: 10px;
	}
	iframe{
		width: 640px;
		height: 360px;
	}
	.nav-link{
		border-bottom: 2px solid green;
	}
}

@media screen and (min-width:1080px){
	img{
		min-width: 60%;
		min-height: 60%;
		max-width: 100%;
		max-height: 100%;
	}
	html{
		font-size: 1.2vw;
		padding-top: 10px;
	}
}