.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger {
  background-color: rgb(122,86,83);
}

.doanload {
  color: black;
}

downloadlink {
  color: black;
}

a {
  color: blue;
}

.downloadlist {
  text-align: left;
}

